.btn {
    background-color:rgb(53, 53, 53);
    color: #fff;
    padding: 0.7em 1.1em;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 25px;
    margin-bottom: none;
    
}
.btn:hover {
    border-radius: 10px;
    background-color: rgb(88, 88, 88);
}